Django
djangorestframework
django-cors-headers
psycopg2-binary
gunicorn
whitenoise
dj-database-url
redis
Pillow
social-auth-app-django
requests
python-decouple
django-debug-toolbar
django-extensions
easy-thumbnails
djangorestframework-simplejwt
django-cloudinary-storage
daphne==4.2.1
channels==4.3.2
channels-redis==4.3.0